style
    html{
        font-size: 22px;
    }
    body{
        background-color: linear-gradient;
        color: whitesmoke;
        
    } 
    h1{
        color: #E62429;
    }
     h2{
         color: #1D4ED8;
     }
     h3{
         color: #FFFFFF;
     }
     p
     {
         color: #ESE7EB;
     }

    a{
        color: white;
    }
    a:visited{
        color: rgb(233, 14, 241);
    }
    a:hover, a:active{
        color:#e80e0e;
    }
    table tr,th,td, caption{
        border: 1px solid #eee;
        font-family: 'Courier New', Courier, monospace;
        border-collapse: collapse;
        padding: 0.5rem;
    }
